{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_broadcaster/scripts

    Broadcaster content layout template.

    Context variables required for this template:
    * content - The core renderer for the page

    Example context (json):
    {

    }
}}
<script defer class="broadcaster" id="{{function}}_{{recordid}}_script_id">
    f_{{function}}_{{recordid}}_wait_For_Element_To_Display("#region-main",
        function() {
            const div = document.getElementById('{{function}}_{{recordid}}_section');
            const target = document.getElementById('region-main');
            div.parentElement.removeChild(div);
            // Append or Prepend element.
            target.{{target}}(div);
            div.style.visibility = 'visible';
        },
        1000,
        180000
    );

    function f_{{function}}_{{recordid}}_script() {
        let s = document.getElementById("{{function}}_{{recordid}}_script_id");
        let p = s.parentElement;
        p.removeChild(s);
    }

    function f_{{function}}_{{recordid}}_wait_For_Element_To_Display(selector, callback, checkFrequencyInMs, timeoutInMs) {
        const startTimeInMs = Date.now();
        (function loopSearch() {
            if (document.querySelector(selector) != null && typeof $().collapse == 'function') {
                callback();
                f_{{function}}_{{recordid}}_script();
            } else {
                setTimeout(function() {
                    if (timeoutInMs && Date.now() - startTimeInMs > timeoutInMs) {
                        return;
                    }
                    loopSearch();
                }, checkFrequencyInMs);
            }
        })();
    }
</script>
